<div ng-cloak="" ng-controller="AppCtrl as ctrl">
    <h2 class="chill-font-purple ">Driver Details</h2>
    <hr>
    <form name="userForm">
    <!-- Gender-->
    <label class="genLabel">Gender</label>   
        <div layout="row">  
            <md-radio-group ng-model="driverDetails.gender" layout="row" flex ng-change="showChanges()">
                <md-radio-button  ng-repeat="gender in lkmSexCode" flex ng-value="gender.value">{{gender.description}}</md-radio-button >
            </md-radio-group>
        </div>
        <hr>
    <!-- Firstname -->
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Firstname</label>
                <input ng-model="driverDetails.firstname"  ng-change="showChanges()">
            </md-input-container>
        </div>
        <hr>
    <!-- Surname -->
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Surname</label>
                <input ng-model="driverDetails.surname"  ng-change="showChanges()">
            </md-input-container>
        </div>
        <hr>
    <!-- Date of birth -->
        <label class="genLabel">Date of Birthday</label>
        <div layout="row" flex>
            <md-datepicker ng-model="driverDetails.DOB" ng-change="showChanges()" flex></md-datepicker> 
        </div>
        <hr>
    <!-- Employment Status -->
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Employment Status</label>
                <md-select ng-model="driverDetails.employmentStatus" ng-change="showChanges()">
                    <md-option ng-repeat="employmentStatus in lkmEmploymentStatus" ng-value="employmentStatus.value">{{employmentStatus.description}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <hr>
    <!-- Employer Business-->
        <div layout="row" >
            <md-autocomplete flex required
                md-input-name="autocompleteField"
                md-input-minlength="2"
                md-input-maxlength="18"
                md-no-cache="noCache"
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-require-match
                md-floating-label="Employer Business"
                >
            <md-item-template >
                <span md-highlight-text="searchText" >{{item.display}}</span>
            </md-item-template>
            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                <div ng-message="md-require-match">Please select an existing state.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
            </div>
            </md-autocomplete>
        </div>
        <hr>
    <!-- Ocupation-->
        <!--<div layout="row">
            <md-input-container class="md-block" flex>
                <label>Occupation</label>
                <md-select ng-model="driverDetails.occupation" ng-change="showChanges()">
                    <md-option ng-repeat="occupation in lkmOccupationList" ng-value="occupation.value">{{occupation.description}}</md-option>
                </md-select>
            </md-input-container>
        </div>-->

        <div layout="row">
            <md-autocomplete flex required
                md-input-name="autocompleteField"
                md-input-minlength="2"
                md-input-maxlength="18"
                md-no-cache="noCache"
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-require-match
                md-floating-label="Occupation"
                >
            <md-item-template >
                <span md-highlight-text="searchText" >{{item.display}}</span>
            </md-item-template>
            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                <div ng-message="md-require-match">Please select an existing state.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
            </div>
            </md-autocomplete>
        </div>
        <hr>
    <!-- Licence type-->
    <!-- Licence Years Hold-->
    <!-- Insured Someone else policy-->
    <!-- Policy Holder Penalty Points-->
    </form>
</div>