          <div ng-cloak="" class="tabsdemoDynamicHeight" layout="column" ng-controller="AppCtrl as ctrl">
  <md-content >
    <md-tabs md-stretch-tabs="always" md-dynamic-height="2" md-border-bottom="">
      <md-tab label="Policy">
        <md-content class="md-padding">
          <chill-policy ></chill-policy>
        </md-content>
      </md-tab>
      <md-tab label="Vehicle">
        <md-content class="md-padding">
          <chill-vehicle ></chill-vehicle>
        </md-content>
      </md-tab>
      <md-tab label="Driver">
        <md-content class="md-padding">
          <chill-driver ></chill-driver>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<md-progress-linear md-mode="determinate" value="{{0.2}}"></md-progress-linear>