          <div ng-cloak="" class="tabsdemoDynamicHeight" layout="column" ng-controller="AppCtrl as ctrl">
  <md-content >
    <md-tabs md-stretch-tabs="always" md-dynamic-height="2" md-border-bottom="">
      <md-tab label="Policy">
        <md-content class="md-padding">
          <h1 class="md-display-2">Policy Details</h1>
          
          <hr>
          <form name="userForm">
            <!-- NCD -->
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>No Claims Discounts</label>
                <md-select ng-model="policyDetails.ncd" ng-change="showChanges()">
                  <md-option><em>None</em></md-option>
                  <md-option ng-repeat="cdn in CDNs" ng-value="cdn.value">
                    {{cdn.description}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <hr>
            <!-- COVER TYPE -->
            <label class="genLabel">Cover type</label>
            <div ng-repeat="coverType in coverTypes"  layout="row">  
            <md-card  layout="row" md-theme-watch class="md-block" flex>

              <md-card-actions layout="row" layout-align="start center">
                <md-radio-group ng-model="policyDetails.coverType" ng-change="showChanges()">
                      <md-radio-button   ng-value="coverType.value"  class="md-primary" >{{coverType.description}}</md-radio-button>
                      </md-input-container>
                    </md-radio-group>
              </md-card-actions>
            </md-card>

               
              </div>
            <!-- <div layout="row"> 
              <md-input-container class="md-block" flex>
                <label>Cover type</label>

                <md-select ng-model="policyDetails.coverType" ng-change="showChanges()">
                  <md-option><em>None</em></md-option>
                  <md-option ng-repeat="coverType in coverTypes" ng-value="coverType.value" >
                    {{coverType.description}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div> -->
            <hr>
            <!-- START DATE -->
            <label class="genLabel">Start Date</label>
            <div layout="row" flex>
            <!-- <md-calendar class="fixed-calendar" ng-model="policyDetails.startDate"></md-calendar> -->
              <md-datepicker ng-model="policyDetails.startDate" ng-change="showChanges()" flex></md-datepicker> 
            </div>
            <hr>
            <!-- EXCESS -->
            <label class="genLabel">Voluntary Excess</label>
            <div layout = "row" class="md-block" flex>
            <md-slider-container class="md-block" flex>
              
              <md-slider  md-discrete  flex min="0" max="600" step="100" ng-model="color.red" aria-label="red" id="red-slider">
              </md-slider>
              <md-input-container>
        <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
      </md-input-container>
              
            </md-slider-container>
            </div>
            <!-- <div layout="row">  
              <md-input-container class="md-block" flex>
                <label >Voluntary Excess</label>
                <md-select ng-model="ctrl.userState">
                  <md-option><em>None</em></md-option>
                  <md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div> -->
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Vehicle">
        <md-content class="md-padding">
          <h1 class="md-display-2">Vehicle</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. </p>
        </md-content>
      </md-tab>
      <md-tab label="Driver">
        <md-content class="md-padding">
          <h1 class="md-display-2">Driver</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<md-progress-linear md-mode="determinate" value="{{0.2}}"></md-progress-linear>