<div ng-cloak="" ng-controller="AppCtrl as ctrl">
    <h2 class="chill-font-purple ">Vehicle Details</h2>
    <hr>
    <form name="userForm">
    <!-- Car Reg -->
     <div layout="row">
        <md-input-container class="md-block" flex>
            <label>Car Registration Number</label>
            <input ng-model="vehicleDetails.carReg" ng-disabled="true" ng-change="showChanges()">
        </md-input-container>
     </div>
    <!-- Car Value -->
    <!-- Year Purchased -->
    <!-- Mileage -->
    <!-- Parked Over Night -->
    </form>
</div>